body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#v{
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  color:red;

}
#v2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:red;
}
    marquee{
      font-size: 40px;
      font-weight: 800;
      color: red;
      font-family: Book Antiqua

      }
      h1 {
    text-align: center;
}
